body {
    font-family: 'Courier New', Courier, monospace;
}

/* Header */
header .top {
    width: 90%;
    height: 70px;
    margin: auto;
    /* border: 1px solid black; */
}

/* Logo */
header .top .logo {
    width: 30%;
    float: left;
    text-align: center;
}

header .top .logo .img {
    float: left;
}

header .top .logo .text {
    float: left;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

header .top .logo .img img {
    width: 80px;
    height: auto;
}

/* Search */
header .top .search {
    width: 40%;
    float: left;
    text-align: center;
    padding-top: 15px;
}

/* Login */
header .top .not-login {
    width: 30%;
    height: auto;
    float: right;
    text-align: center;
    padding-top: 15px;
}

header .top .not-login .login {
    float: right;
    margin-left: 10px;
}

header .top .not-login .register {
    float: right;
}

/* Slider */
header .slider {
    width: 90%;
    height: auto;
    margin: auto;
}
header .slider .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
  
header .slider .slideshow-container .mySlides {
    display: none;
}

header .slider .slideshow-container .mySlides img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

header .slider .slideshow-container a {
    text-decoration: none;
}
  
header .slider .slideshow-container .prev, .slider .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
header .slider .slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
header .slider .slideshow-container .prev:hover, .slider .slideshow-container .next:hover {
    cursor: pointer;
}

header .slider .slideshow-container .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 50%;
    text-align: left;
    left: 40px;
    margin-left: auto;
    margin-right: auto;
    top: 8px;
}

header .slider .slideshow-container .text .decription {
    margin-bottom: 10px;
}
  
header .slider .slideshow-container .active {
    background-color: #717171;
}