/* Header */
header .top {
    width: 90%;
    height: 70px;
    margin: auto;
    /* border: 1px solid black; */
}

/* Logo */
header .top .logo {
    width: 30%;
    float: left;
    text-align: center;
}

header .top .logo .img {
    float: left;
}

header .top .logo .text {
    float: left;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

header .top .logo .img img {
    width: 80px;
    height: auto;
}

/* Search */
header .top .search {
    width: 40%;
    float: left;
    text-align: center;
    padding-top: 15px;
}

/* Login */
header .top .not-login {
    width: 30%;
    height: auto;
    float: right;
    text-align: center;
    padding-top: 15px;
}

header .top .not-login .login {
    float: right;
    margin-left: 10px;
}

header .top .not-login .register {
    float: right;
}

/* Slider */
header .slider {
    width: 90%;
    height: auto;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
}

header .slider .carousel-control-next, header .slider .carousel-control-prev {
    width: 5%;
}

header .slider .carousel-caption {
    left: 0;
    right: 40%;
    padding-left: 7%;
    padding-right: 5%;
    top: 15%;
}

header .slider .carousel-item img {
    border-radius: 10px;
}