body a {
    text-decoration: none;
    color: unset;
}

/* Header */
header .top {
    height: 70px;
    margin: auto;
}

/* Logo */
header .top .logo {
    width: 30%;
    float: left;
    text-align: center;
}

header .top .logo .img {
    float: left;
}

header .top .logo .text {
    float: left;
    padding-top: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

header .top .logo .img img {
    width: 80px;
    height: auto;
}

/* Search */
header .top .search {
    width: 40%;
    float: left;
    text-align: center;
    padding-top: 15px;
}

/* Login */
header .top .not-login {
    width: 30%;
    height: auto;
    float: right;
    text-align: center;
    padding-top: 15px;
}

header .top .not-login .modal-content .modal-body {
    text-align: left;
}

header .top .not-login .modal-content .modal-body .btn-submit-login,
.btn-submit-register {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

header .top .not-login .login {
    float: right;
    margin-left: 10px;
}

header .top .not-login .register {
    float: right;
}

/* Slider */
header .slider {
    width: 90%;
    height: auto;
    margin: auto;
    font-family: "Courier New", Courier, monospace;
    padding-top: 10px;
}

header .slider .carousel-control-next,
header .slider .carousel-control-prev {
    width: 5%;
}

header .slider .carousel-item .carousel-caption {
    left: 0;
    right: 40%;
    padding-left: 7%;
    padding-right: 5%;
    top: 15%;
}

header .slider .carousel-item.carousel-caption h3 {
    font-weight: bold;
}

header .slider .carousel-item img {
    border-radius: 10px;
}

/* Main */
.main .top,
.main .bot {
    width: 90%;
    height: auto;
    margin: auto;
    font-family: "Courier New", Courier, monospace;
    padding-top: 30px;
}

.main .top .title,
.main .bot .title {
    margin-bottom: 20px;
}

.main .top .title h3,
.main .bot .title h3 {
    font-weight: bold;
}

.main .top .content .row,
.main .bot .content .row {
    margin-left: 0;
}

.main .top .content .card,
.main .bot .content .card {
    width: 18rem;
}

.main .top .content .card .card-boby h3,
.main .bot .content .card .card-boby h3 {
    font-weight: bold;
}

/* Footer */
footer {
    margin-top: 50px;
}

footer .container {
    font-family: "Courier New", Courier, monospace;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .container .logo {
    width: 30%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

footer .container .logo .img {
    float: left;
}

footer .container .logo .text {
    float: left;
    padding-top: 13px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
}

footer .container .logo .img img {
    width: 60px;
    height: auto;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 5px;
}
